.flex-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.track-crypto-heading,
.real-time-heading{
    font-size: 6rem;
    margin: 0;
}

.track-crypto-heading{
    color: var(--white);
}

.track-crypto-heading:hover{
    color: var(--black);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--white);
    transition: all 0.3s;
    /* will take 0.3s for any transition - makes transitions smooth  */
}

.real-time-heading{
    color: var(--blue);
}

.info-text{
    color: var(--grey);
    font-size: 1rem;
    font-weight: 300;
}

.btn-flex{
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    align-items: center;
    margin-top: 1.5rem;
}

.phone-container{
    position: relative;
    width: 50%;
    /* it should be in right side of screen  */
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
}

.iphone{
    position: absolute;
    z-index: 50;
    /* this affects z index of iphone img, it comes on top of gradient  */
    min-width: 300px;    
    width: 50%;
    right: 0;
    /* top, left, right, bottom gives position of any element  */
    /* for this position attribute should also be defined  */
}   

.gradient{
    position: absolute;
    min-width: 250px; 
    width: 40%;
    top: 8rem;
    right: 0;  
}

@media only screen and (max-width: 1250px) {
    .track-crypto-heading,
    .real-time-heading{
        font-size: 5rem;
        margin: 0;
    }
}

@media only screen and (max-width: 1000px) {
    .iphone{
        min-width: 250px; 
        width: 50%;   
    }   
    
    .gradient{
        min-width: 200px; 
        top: 6rem; 
    }
}

@media only screen and (max-width: 800px) {
    .flex-info{
        flex-direction: column;
        /* line me niche aenge column wise sabkuch  */

    }
    .phone-container{
        display: block;
        margin: auto;
        margin-top: 3rem;
    }

    .iphone
    {
        left: 0%; 
    }

    .gradient{
        left: 20%;
    }

    .left-component{
        width: 100%;
    }

    .track-crypto-heading,
    .real-time-heading{
        font-size: 3rem;
        text-align: center;
    }

    .info-text{
        text-align: center;
    }

    .btn-flex{
        justify-content: center;
    }

    .track-crypto-heading:hover{
        -webkit-text-stroke-width: 2px;
    }
}